<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rustmx</title>
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.1" />
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <script
      src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"
    ></script>
  </head>
  <body hx-boost="true">
    <main>
      <header>
        <h1>Rustmx</h1>
        <nav>
          <a href="/">Home</a><span> | </span> <a href="/endpoints">Endpoints</a
          ><span> | </span>
          <a href="/login">Login</a>
          <a href="/logout">Logout</a>
        </nav>
      </header>
      {% block content %}{% endblock content %}
    </main>
  </body>
</html>
