<section id="login_page">
  <h2>Login</h2>
  <p>{{ login_msg }}</p>

  <form hx-post="/login" hx-target>
    <div>
      <label for="username" required>Username</label>
      <input
        type="text"
        name="username"
        value="{{ login_value_username }}"
        placeholder="Username"
        required
      />
    </div>
    <div>
      <label for="password" required>password</label>
      <input
        type="password"
        name="password"
        value="{{ login_value_password }}"
        placeholder="Password"
        required
      />
    </div>
    <div>
      <label for="save">Stay Logged in</label>
      <input type="checkbox" />
    </div>
    <button>Login</button>
  </form>

  <div id="list_users"></div>
  <p>{{ login_failed_msg }}</p>
</section>
