{% extends 'layout.html' %} {% block content -%}

<section id="register_page">
  <h2>Register</h2>
  <p>{{ register_msg }}</p>

  <form action="/register" method="post">
    <div>
      <label for="username" required>Username</label>
      <input
        type="text"
        name="username"
        value="{{ register_value_username }}"
        placeholder="Username"
        required
      />
    </div>
    <div>
      <label for="password" required>Password:</label>
      <input
        type="password"
        name="password"
        value="{{ register_value_password }}"
        placeholder="Password"
        required
      />
    </div>
    <div>
      <label for="confirm_password" required>Confirm Password:</label>
      <input
        type="password"
        name="confirm_password"
        value="{{ register_value_confirm_password }}"
        placeholder="Confirm Password"
        required
      />
    </div>
    <button>Register</button>
  </form>
  <a href="/login">Login</a>

  <div id="list_users"></div>
  <p>{{ register_failed_msg }}</p>
</section>
{% endblock content -%}
